

	<div class="form-group row celina">
		<div class="col-xs-3">
			<label class="right" for="region" translate="region"></label>
		</div>
		<div class="col-xs-9">
		    <select ng-model="vm.regionSelected" ng-options="region.nameTranslate.name for region in vm.regions">
		  	     <option value="" translate="selectDestination"> </option>
				<!-- <option ng-repeat="region in vm.regions" value="{{region}}">{{region.name}}</option> -->
			</select>
		</div>
	</div>

	<div class="form-group row celina">
		<div class="col-xs-3">
	 		<label class="right" for="sumTo" translate="sumToInsure"></label>
	 	</div>
	 	<div class="col-xs-9">		
		   	<span ng-repeat="sum in vm.sumTo">
			    <input type="radio" ng-model="vm.sumToSelected" ng-value="sum"  name="sumToinsur">    
				<label for="sum.nameTranslate.name{{sum.nameTranslate.name}}">{{sum.nameTranslate.name}}</label>
				<br>		   
			</span>			
		</div>
	</div>

	<!-- age carrier nam vise ne treba -->
	<!-- <div class="form-group row celina">
		<div class="col-md-3">
			<label class="right" for="ageCarrier" translate="ageInsuranceCarrier"></label>
		</div>
		<div class="col-md-9">
		    <select ng-model="vm.ageSelected" ng-options="age.name for age in vm.agesWithoutTo18">
		   	    <option value="" translate="selectAge"></option>
			</select>
		</div>
	</div> -->

	<!-- Persons preko DIREKTIVE!!! -->
    <div class="form-group row celina">
    	<div class="col-xs-3">
			<label class="right" for="numberOfPersons" translate="numberOfInsurancedPersons"></label>
		</div>
		<span ng-repeat="(ageIndex, age) in vm.ages">
			<buy-directive age="age" age-index="ageIndex" age-typed="vm.ageTyped"></buy-directive>
		</span>
	</div>

	<!-- Za DatePicker -->
	<div class="form-group row celina">
		<div class="col-xs-3">
			<label class="right" for="duration" translate="durationOfInsurance"></label>
		</div>
			<div class="form-group col-xs-3">
				<label class="buy-lable" for="startDate" translate="from"></label>
			    <p class="input-group">
			      <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.startDate" is-open="vm.startOpened" datepicker-options="vm.dateOptions" ng-change="vm.startDatePicked()" ng-required="true" close-text="Close" />
			      <span class="input-group-btn">
			        <button type="button" class="btn btn-default" ng-click="vm.openStart()"><i class="glyphicon glyphicon-calendar"></i></button>
			      </span>
			    </p>
			</div>
			<div class="form-group col-xs-3">
				<label class="buy-lable" for="endDate" translate="to"></label>
			    <p class="input-group">
			      <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.endDate" is-open="vm.endOpened" datepicker-options="vm.dateOptions" ng-change="vm.endDatePicked()" ng-required="true" close-text="Close" />
			      <span class="input-group-btn">
			        <button type="button" class="btn btn-default" ng-click="vm.openEnd()"><i class="glyphicon glyphicon-calendar"></i></button>
			      </span>
			    </p>
			</div>
	</div>
	 
	<div class="form-group row celina">
		<div class="col-xs-3">
			<label class="right" for="sport">Sport:</label>
		</div>
		<div class="col-xs-9">
				<select ng-model="vm.sportSelected" ng-options="sport.nameTranslate.name for sport in vm.sports">
			  	     <option value="" translate="selectSport"> </option>
				</select>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-4 col-xs-offset-4">
		    <a ui-sref="buy.secondStep" class="btn btn-block btn-info" ng-click="vm.calculateFirstStep()">
		    {{ 'nextSection' | translate }} <span class="glyphicon glyphicon-circle-arrow-right"></span>
		    </a>
		</div>
	</div>
	<br>


	




