    
    <!-- <div class="form-group"> -->
    <form ng-class="{'submitted': vm.submittedFourth}" id="signup-form" ng-submit="vm.calculateFourthStep()" name="vm.formFourth" novalidate>
        <p class="h4 bg-success" align="center">{{ 'insuranceContractorInfo' | translate }}</p>
        <br>
    
        <div class="form-group row">
            <div class="col-xs-3">          
                <label class="right">{{ 'firstName' | translate }}:</label>
            </div>
            <div class="col-xs-3">
                <input type="text" ng-model="vm.buyer.firstName" name="firstNameBuyer" class="form-control" placeholder="{{ 'firstName' | translate }}" required ng-maxlength="30">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-offset-3 col-xs-3">
                <p class="err-val" ng-show="(vm.formFourth.firstNameBuyer.$error.required && vm.formFourth.firstNameBuyer.$touched) || (vm.formFourth.firstNameBuyer.$error.required && vm.submittedFourth)">{{ 'requiredField' | translate }}</p>
                <p class="err-val" ng-show="vm.formFourth.firstNameBuyer.$error.maxlength && vm.formFourth.firstNameBuyer.$touched">{{ 'maxLength' | translate }}30</p>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3">          
                <label class="right">{{ 'lastName' | translate }}:</label>
            </div>
            <div class="col-xs-3">
                <input type="text" ng-model="vm.buyer.lastName" name="lastNameBuyer" class="form-control" placeholder="{{ 'lastName' | translate }}" required ng-maxlength="30">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-offset-3 col-xs-3">
                <p class="err-val" ng-show="(vm.formFourth.lastNameBuyer.$error.required && vm.formFourth.lastNameBuyer.$touched) || (vm.formFourth.lastNameBuyer.$error.required && vm.submittedFourth)">{{ 'requiredField' | translate }}</p>
                <p class="err-val" ng-show="vm.formFourth.lastNameBuyer.$error.maxlength && vm.formFourth.lastNameBuyer.$touched">{{ 'maxLength' | translate }}30</p>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3">          
                <label class="right">{{ 'jmbg' | translate }}:</label>
            </div>
            <div class="col-xs-3">
                <input type="text" ng-model="vm.buyer.jmbg" name="jmbgBuyer" class="form-control" placeholder="{{ 'jmbg' | translate }}" required ng-minlength="13" ng-maxlength="13" numbers-only="numbers-only">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-offset-3 col-xs-3">
                <p class="err-val" ng-show="(vm.formFourth.jmbgBuyer.$error.required && vm.formFourth.jmbgBuyer.$touched) || (vm.formFourth.jmbgBuyer.$error.required && vm.submittedFourth)">{{ 'requiredField' | translate }}</p>
                <p class="err-val" ng-show="vm.formFourth.jmbgBuyer.$error.minlength && vm.formFourth.jmbgBuyer.$touched">{{ 'specLength' | translate }}13</p>
                <p class="err-val" ng-show="vm.formFourth.jmbgBuyer.$error.maxlength && vm.formFourth.jmbgBuyer.$touched">{{ 'specLength' | translate }}13</p>
            </div>
        </div>
           <div class="form-group row">
            <div class="col-xs-3">          
                <label class="right">{{ 'passportNumber' | translate }}:</label>
            </div>
            <div class="col-xs-3">
                <input type="text" ng-model="vm.buyer.passportNumber" name="passportNumberBuyer" class="form-control" placeholder="{{ 'passportNumber' | translate }}" required ng-minlength="9" ng-maxlength="9" numbers-only="numbers-only">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-offset-3 col-xs-3">
                <p class="err-val" ng-show="(vm.formFourth.passportNumberBuyer.$error.required && vm.formFourth.passportNumberBuyer.$touched) || (vm.formFourth.passportNumberBuyer.$error.required && vm.submittedFourth)">{{ 'requiredField' | translate }}</p>
                <p class="err-val" ng-show="vm.formFourth.passportNumberBuyer.$error.minlength && vm.formFourth.passportNumberBuyer.$touched">{{ 'specLength' | translate }}9</p>
                <p class="err-val" ng-show="vm.formFourth.passportNumberBuyer.$error.maxlength && vm.formFourth.passportNumberBuyer.$touched">{{ 'specLength' | translate }}9</p>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3">          
                <label class="right">{{ 'address' | translate }}:</label>
            </div>
            <div class="col-xs-3">
                <input type="text" ng-model="vm.buyer.address" name="addressBuyer" class="form-control" placeholder="{{ 'address' | translate }}" required ng-maxlength="30">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-offset-3 col-xs-3">
                <p class="err-val" ng-show="(vm.formFourth.addressBuyer.$error.required && vm.formFourth.addressBuyer.$touched) || (vm.formFourth.addressBuyer.$error.required && vm.submittedFourth)">{{ 'requiredField' | translate }}</p>
                <p class="err-val" ng-show="vm.formFourth.addressBuyer.$error.maxlength && vm.formFourth.addressBuyer.$touched">{{ 'maxLength' | translate }}30</p>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3">          
                <label class="right">{{ 'phoneNumber' | translate }}:</label>
            </div>
            <div class="col-xs-3">
                <input type="text" ng-model="vm.buyer.phoneNumber" name="phoneNumberBuyer" class="form-control" placeholder="{{ 'phoneNumber' | translate }}" required ng-maxlength="30">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-offset-3 col-xs-3">
                <p class="err-val" ng-show="(vm.formFourth.phoneNumberBuyer.$error.required && vm.formFourth.phoneNumberBuyer.$touched) || (vm.formFourth.phoneNumberBuyer.$error.required && vm.submittedFourth)">{{ 'requiredField' | translate }}</p>
                <p class="err-val" ng-show="vm.formFourth.phoneNumberBuyer.$error.maxlength && vm.formFourth.phoneNumberBuyer.$touched">{{ 'maxLength' | translate }}30</p>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3">          
                <label class="right">E-mail:</label>
            </div>
            <div class="col-xs-3">
                <input type="email" ng-model="vm.buyer.email" name="email" class="form-control" placeholder="E-mail" required ng-maxlength="70">
            </div>
        </div>
         <div class="form-group row">
            <div class="col-xs-offset-3 col-xs-3">
                <p class="err-val" ng-show="(vm.formFourth.email.$error.required && vm.formFourth.email.$touched) || (vm.formFourth.email.$error.required && vm.submittedFourth)">{{ 'requiredField' | translate }}</p>
                <p class="err-val" ng-show="vm.formFourth.email.$error.email && vm.formFourth.email.$touched">{{ 'invalidEmail' | translate }}</p>
                <p class="err-val" ng-show="vm.formFourth.email.$error.maxlength && vm.formFourth.email.$touched">{{ 'maxLength' | translate }}70</p>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-3">
                <label class="right" for="sumTo">{{ 'insuranceContractor' | translate }}</label>
            </div>
            <div class="col-xs-9" ng-init="vm.contractor">
                <label class="form-check-label">
                     <input class="form-check-input" type="radio" ng-model="vm.contractor" name="contractor" ng-value="true" ng-change="vm.contractorChange()">&nbsp{{ 'spaic' | translate }}
                </label>
                <br>
                <label class="form-check-label">
                     <input class="form-check-input" type="radio" ng-model="vm.contractor" name="contractor" ng-value="false" >&nbsp{{ 'nspaic' | translate }}    
                </label>
                <br>                 
             </div>
        </div>

             <!-- Ako nije ista osoba kao ugovarac osiguranja -->
             <div ng-if="vm.contractor == false">
                    <label>&nbsp&nbsp Insurance carrier informations:</label>
                    <br><br>
                <!-- <p class="h4" align="left">Insurance carrier informations:</p> -->
                <div class="form-group row">
                    <div class="form-group col-xs-1" style="width: 0.5%">
                        <br/><br/>
                        <label>0.</label>                  
                    </div>
                     <buy-persons-directive person="vm.personHolder" form-fourth="vm.formFourth" submitted-fourth="vm.submittedFourth"></buy-persons-directive>
                </div> 
                 <div class="form-group row">
                    <div class="col-xs-1" style="width: 0.5%">                
                    </div>
                    <div class="col-xs-2 width15">
                         <p align="center" class="err-val" ng-show="(vm.formFourth.firstName.$error.required && vm.formFourth.firstName.$touched) || (vm.formFourth.firstName.$error.required && vm.submittedFourth)">{{ 'requiredField' | translate }}</p>
                    </div>
                     <div class="col-xs-2 width15">
                          <p align="center" class="err-val" ng-show="(vm.formFourth.lastName.$error.required && vm.formFourth.lastName.$touched) || (vm.formFourth.lastName.$error.required && vm.submittedFourth)">{{ 'requiredField' | translate }}</p>
                    </div>
                    <div class="col-xs-2 width15">
                         <p align="center" class="err-val" ng-show="(vm.formFourth.address.$error.required && vm.formFourth.address.$touched) || (vm.formFourth.address.$error.required && vm.submittedFourth)">{{ 'requiredField' | translate }}</p>
                    </div>
                    <div class="col-xs-2 width15">
                        <p align="center" class="err-val" ng-show="(vm.formFourth.jmbg.$error.required && vm.formFourth.jmbg.$touched) || (vm.formFourth.jmbg.$error.required && vm.submittedFourth)">{{ 'requiredField' | translate }}</p>
                        <p  class="err-val p-inline" ng-show="vm.formFourth.jmbg.$error.minlength && vm.formFourth.jmbg.$touched">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ 'mustBe' | translate }}13</p>
                        <p  class="err-val  p-inline" ng-show="vm.formFourth.jmbg.$error.maxlength && vm.formFourth.jmbg.$touched">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ 'mustBe' | translate }}13</p>
                    </div>
                      <div class="col-xs-2 width15">
                         <p align="center" class="err-val" ng-show="(vm.formFourth.passportNumber.$error.required && vm.formFourth.passportNumber.$touched) || (vm.formFourth.passportNumber.$error.required && vm.submittedFourth)">{{ 'requiredField' | translate }}</p>
                          <p  class="err-val  p-inline" ng-show="vm.formFourth.passportNumber.$error.minlength && vm.formFourth.passportNumber.$touched">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ 'mustBe' | translate }}9</p>
                          <p  class="err-val  p-inline" ng-show="vm.formFourth.passportNumber.$error.maxlength && vm.formFourth.passportNumber.$touched">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ 'mustBe' | translate }}9</p>  
                    </div>
                    <div class="col-xs-2 width15">
                          <p align="center" class="err-val" ng-show="(vm.formFourth.phoneNumber.$error.required && vm.formFourth.phoneNumber.$touched) || (vm.formFourth.phoneNumber.$error.required && vm.submittedFourth)">{{ 'requiredField' | translate }}</p>
                    </div>           
                </div> 
             </div>

              <!-- URADI AKO KORISNIK PROMENI NAZAD -->
    <div ng-if="vm.totalPersons > 1">
        <p class="h4 bg-success" align="center">{{ 'insurancedPersons' | translate }}</p>
    </div>
     <span ng-repeat="person in vm.persons track by $index"> <!-- -1 iz razloga sto je jedan nosioc -->
     <!-- nested form da bi validirao svaki item -->
        <ng-form name="innerForm">
            <div  class="form-group row">
                 <div class="col-xs-1" style="width: 0.5%">
                    <br><br>
                    <label>{{$index + 1}}.</label>                  
                 </div>

                 <buy-persons-directive person="person" form-fourth="vm.innerForm" submitted-fourth="vm.submittedFourth"></buy-persons-directive>
            </div>
            <div class="form-group row">
                <div class="col-xs-1" style="width: 0.5%">                
                </div>
                <div class="col-xs-2 width15">
                   <p align="center" class="err-val" ng-show="(innerForm.firstName.$error.required && innerForm.firstName.$touched) || (innerForm.firstName.$error.required && vm.submittedFourth)">{{ 'requiredField' | translate }}</p>
                </div>
                 <div class="col-xs-2 width15">
                   <p align="center" class="err-val" ng-show="(innerForm.lastName.$error.required && innerForm.lastName.$touched) || (innerForm.lastName.$error.required && vm.submittedFourth)">{{ 'requiredField' | translate }}</p>
                </div>
                <div class="col-xs-2 width15">
                   <p align="center" class="err-val" ng-show="(innerForm.address.$error.required && innerForm.address.$touched) || (innerForm.address.$error.required && vm.submittedFourth)">{{ 'requiredField' | translate }}</p>
                </div>
                  <div class="col-xs-2 width15">
                   <p align="center" class="err-val" ng-show="(innerForm.jmbg.$error.required && innerForm.jmbg.$touched) || (innerForm.jmbg.$error.required && vm.submittedFourth)">{{ 'requiredField' | translate }}</p>
                    <p  class="err-val p-inline" ng-show="innerForm.jmbg.$error.minlength && innerForm.jmbg.$touched">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ 'mustBe' | translate }}13</p>
                    <p  class="err-val  p-inline" ng-show="innerForm.jmbg.$error.maxlength && innerForm.jmbg.$touched">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ 'mustBe' | translate }}13</p>
                </div>
                  <div class="col-xs-2 width15">
                   <p align="center" class="err-val" ng-show="(innerForm.passportNumber.$error.required && innerForm.passportNumber.$touched) || (innerForm.passportNumber.$error.required && vm.submittedFourth)">{{ 'requiredField' | translate }}</p>
                   <p  class="err-val  p-inline" ng-show="innerForm.passportNumber.$error.minlength && innerForm.passportNumber.$touched">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ 'mustBe' | translate }}9</p>
                    <p  class="err-val  p-inline" ng-show="innerForm.passportNumber.$error.maxlength && innerForm.passportNumber.$touched">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ 'mustBe' | translate }}9</p>  
                </div>
                <div class="col-xs-2 width15">
                   <p align="center" class="err-val" ng-show="(innerForm.phoneNumber.$error.required && innerForm.phoneNumber.$touched) || (innerForm.phoneNumber.$error.required && vm.submittedFourth)">{{ 'requiredField' | translate }}</p>
                </div>           
            </div>
         </ng-form> 
        
           
    </span>

    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <button type="submit" class="btn btn-block btn-info">
            {{ 'nextSection' | translate }}<span class="glyphicon glyphicon-circle-arrow-right"></span>
            </button>
            <button ui-sref="buy.thirdStep" class="btn btn-block btn-info">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>{{ 'previousSection' | translate }} 
            </button>
            </span>         
        </div>
    </div>
    <br>
</form>