<!-- <p>hey</p> -->
<!-- {{ageTyped.ageSub[0].name}} -->
<!-- {{ageTyped.ageSub[$parent.$index].id}} -->
<!-- {{iter}}
<p>evo: {{vm.newIter}} </p>

<div class="form-inline">
	<div class="form-group">
		<label class="col-xs-3" align="right">First Name</label>
		<input class="col-xs-3" type="text" ng-model="vm.person[vm.iter]" placeholder="First name" ng-init="$parent.vm.iter = $parent.vm.iter +1">
	</div>
</div> 
{{$parent.vm.person[iter]}}-->

<div class="form-group row">
	 <div class="form-group col-xs-1" style="width: 0.5%">
	 		<br><br>
	        <label>{{personIndex + 1}}.</label>			        
	 </div>
	 <div class="form-group col-xs-2 width15">
	        <label class="center" for="name" >{{ 'firstName' | translate }}</label>
	        <input type="text" ng-model="person.firstName[personIndex]" name="firstName[personIndex]" class="form-control" id="name" placeholder="First name" required ng-maxlength="30">
	 </div>
	  <div class="form-group  col-xs-2 width15">
	        <label class="center" for="last" >{{ 'lastName' | translate }}</label>
	        <input type="text" ng-model="person.lastName[personIndex]" name="lastName[personIndex]" class="form-control" id="last" placeholder="Last name" required ng-maxlength="30">
	 </div>
	 <div class="form-group  col-xs-2 width15">
	        <label class="center" for="address" >{{ 'address' | translate }}</label>
	        <input type="text" ng-model="person.address[personIndex]" class="form-control" name="address[personIndex]" id="address" placeholder="Address" required ng-maxlength="30">
	 </div>
	 <div class="form-group  col-xs-2 width15">
	        <label class="center" for="jmbg" >JMBG</label>
	        <input type="text" ng-model="person.jmbg[personIndex]" name="jmbg[personIndex]" class="form-control" id="jmbg" placeholder="JMBG" required ng-minlength="13" ng-maxlength="13" numbers-only="numbers-only">
	 </div>
	 <div class="form-group col-xs-2 width15">
	        <label class="center" for="passport" >{{ 'passportNumber' | translate }}</label>
	        <input type="text" ng-model="person.passportNumber[personIndex]" name="passportNumber[personIndex]" class="form-control" id="passport" placeholder="Passsport" required ng-minlength="9" ng-maxlength="9" numbers-only="numbers-only">
	 </div>
	 <div class="form-group col-xs-2 width15">
	        <label class="center" for="phone" >{{ 'phoneNumber' | translate }}</label>
	        <input type="text" ng-model="person.phoneNumber[personIndex]" name="phoneNumber[personIndex]" class="form-control" id="phone" placeholder="Phone" required ng-maxlength="30">
	 </div>
</div> 
<!-- <div class="form-group row">
    <div class="form-group col-xs-1" style="width: 0.5%">               
    </div>
    <div class="col-xs-5">
        <p class="err-val" ng-show="formFourth.fn[personIndex].$error.required && submittedFourth">{{ 'requiredFields' | translate }}</p>
    </div>
</div>       
{{person.firstName[personIndex]}}
{{formFourth.firstName[personIndex].$error.required}}
{{submittedFourth}} -->
 
<!-- <div ng-show="ageTyped.ageSub[$parent.$index].name == 'to 18' && $parent.$index < " class="form-group">			
	<label>do 18</label>
	<p{{$parent.$index}}</p><input type="text" ng-model="$parent.vm.person[$parent.$index]" class="form-control" placeholder="First name">
</div>

<div ng-show="ageTyped.ageSub[$parent.$index].name == '18-60'" class="form-group">			
	<label>18-60</label>
	<input type="text" ng-model="$parent.vm.person[$parent.$index]" class="form-control" placeholder="First name">
</div> -->




<!-- ageTyped.ageSub[$parent.$index].name == 'to 18' -->

