
    <!-- Insurance type direktiva -->
   <!--  <div class="form-group celina">
         <label class="buy-lable" for="insurnaceType" translate="additionalInsurance"></label>
         <ul ng-repeat="insuranceType in vm.insuranceTypes">
    
            <li><buy-additional-directive insurance-type="insuranceType" towings="vm.towings" repairs="vm.repairs" accommodations="vm.accommodations" alternative-rides="vm.alternativeRides" surfaces="vm.surfaces" age-apartments="vm.ageApartments" value-apartments="vm.valueApartments" disasters="vm.disasters" towing-selected="vm.towingSelected" repair-selected="vm.repairSelected" accommodation-selected="vm.accommodationSelected" alternative-ride-selected="vm.alternativeRideSelected" vehicle="vm.vehicle" home="vm.home" surface-selected="vm.surfaceSelected" age-apartment-selected="vm.ageApartmentSelected" value-apartment-selected="vm.valueApartmentSelected" disaster-selected="vm.disasterSelected"></buy-additional-directive></li>
         </ul>
    </div> -->
<form ng-class="{'submitted': vm.submittedSecond}" id="signup-form" ng-submit="vm.calculateSecondStep()" name="vm.formSecond" novalidate>
    <div class="form-group unity">
            <label class="buy-lable" translate="additionalInsurance"></label>
            <!-- <ul ng-repeat="insuranceType in vm.insuranceTypes"> -->
            <div class="checkbox">
                <label class="form-check-label">
                    <input type="checkbox" ng-model="vm.insuranceTypeRoadCheck" ng-change="vm.insuranceTypeRoadChecking()"><p class="adit-text">{{vm.insuranceTypeRoad.insuranceName}}</p>
                </label>
            </div>

            <div ng-show="vm.insuranceTypeRoadCheck">
                <div class="form-group">
                    <p class="h4 bg-success" align="center" translate="additionalPackages"></p>

                    <div class="form-group row">
                        <div class="checkbox">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" ng-model="vm.towingCheck" ng-change="vm.towingChecking()">{{ 'towing' | translate }}
                            </label>
                        </div>
                        <div class="col-xs-3">
                            <select class="form-control" ng-show="vm.towingCheck" ng-model="vm.towingSelected" name="towingSelected" ng-options="towing.nameTranslate.name for towing in vm.towings track by towing.id" ng-required="vm.towingCheck">
                                <option value="">{{ 'selectMileage' | translate }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-4">
                            <p class="err-val" ng-show="vm.formSecond.towingSelected.$error.required && vm.submittedSecond">{{ 'requiredFieldPackage' | translate }}</p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="checkbox">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" ng-model="vm.repairsCheck" ng-change="vm.repairsChecking()" >{{ 'repairsTo' | translate }}
                            </label>
                        </div>
                        <div class="col-xs-3">
                            <select class="form-control" ng-show="vm.repairsCheck" ng-model="vm.repairSelected" name="repairSelected" ng-options="repair.nameTranslate.name for repair in vm.repairs track by repair.id" ng-required="vm.repairsCheck">
                                <option value="">{{ 'selectPrice' | translate }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-4">
                            <p class="err-val" ng-show="vm.formSecond.repairSelected.$error.required && vm.submittedSecond">{{ 'requiredFieldPackage' | translate }}</p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="checkbox">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" ng-model="vm.accommodationsCheck" ng-change="vm.accommodationsChecking()">{{ 'accommodation' | translate }}
                            </label>
                        </div>
                        <div class="col-xs-3">
                            <select class="form-control" ng-show="vm.accommodationsCheck" ng-model="vm.accommodationSelected" name="accommodationSelected" ng-options="accommodation.nameTranslate.name for accommodation in vm.accommodations track by accommodation.id" ng-required="vm.accommodationsCheck">
                                <option value="">{{ 'selectNumberOfDays' | translate }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-4">
                            <p class="err-val" ng-show="vm.formSecond.accommodationSelected.$error.required && vm.submittedSecond">{{ 'requiredFieldPackage' | translate }}</p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="checkbox">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" ng-model="vm.alternativeRidesCheck" ng-change="vm.alternativeRidesChecking()">{{ 'alternativeRide' | translate }}
                            </label>
                        </div>
                        <div class="col-xs-3">
                            <select class="form-control" ng-show="vm.alternativeRidesCheck" ng-model="vm.alternativeRideSelected" name="alternativeRideSelected" ng-options="alternativeRide.nameTranslate.name for alternativeRide in vm.alternativeRides track by alternativeRide.id" ng-required="vm.alternativeRidesCheck">
                                <option value="">{{ 'selectRide' | translate }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-4">
                            <p class="err-val" ng-show="vm.formSecond.alternativeRideSelected.$error.required && vm.submittedSecond">{{ 'requiredFieldPackage' | translate }}</p>
                        </div>
                    </div>

                </div>
                <br/>

                <div class="form-group">
                    <p class="h4 bg-success" align="center">{{ 'vehicleInformations' | translate }}</p>
                    <br>
                    
                    <div class="form-group row">    
                        <div class="col-xs-3">      
                            <label class="right">{{ 'registrationNumber' | translate }}</label>
                        </div>
                        <div class="col-xs-3">
                            <input type="text" ng-model="vm.vehicle.registrationNumber" name="registrationNumber" class="form-control" placeholder="{{ 'registrationNumber' | translate }}" ng-required="vm.insuranceTypeRoadCheck" ng-minlength="5" ng-maxlength="10">
                        </div>
                    </div>      
                    <div class="form-group row">
                        <div class="col-xs-offset-3 col-xs-3">
                            <p class="err-val" ng-show="vm.formSecond.registrationNumber.$error.required && vm.submittedSecond">{{ 'requiredField' | translate }}</p>
                            <p class="err-val" ng-show="vm.formSecond.registrationNumber.$error.minlength && vm.formSecond.registrationNumber.$touched">{{ 'minLength' | translate }}5</p>
                             <p class="err-val" ng-show="vm.formSecond.registrationNumber.$error.maxlength && vm.formSecond.registrationNumber.$touched">{{ 'maxLength' | translate }}10</p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-3">          
                            <label class="right">{{ 'vehicleMake' | translate }}</label>
                        </div>
                        <div class="col-xs-3">
                            <input type="text" ng-model="vm.vehicle.make" name="make" class="form-control" placeholder="{{ 'vehicleMake' | translate }}" ng-required="vm.insuranceTypeRoadCheck" ng-maxlength="30">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-offset-3 col-xs-3">
                            <p class="err-val" ng-show="vm.formSecond.make.$error.required && vm.submittedSecond">{{ 'requiredField' | translate }}</p>
                            <p class="err-val" ng-show="vm.formSecond.make.$error.maxlength && vm.formSecond.make.$touched">{{ 'maxLength' | translate }}30</p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-3">          
                            <label class="right">{{ 'vehicleOwnerFN' | translate }}</label>
                        </div>
                        <div class="col-xs-3">
                            <input type="text" ng-model="vm.vehicle.ownerFirstName" name="ownerFirstName" class="form-control" placeholder="{{ 'vehicleOwnerFN' | translate }}" ng-required="vm.insuranceTypeRoadCheck" ng-maxlength="30">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-offset-3 col-xs-3">
                            <p class="err-val" ng-show="vm.formSecond.ownerFirstName.$error.required && vm.submittedSecond">{{ 'requiredField' | translate }}</p>
                            <p class="err-val" ng-show="vm.formSecond.ownerFirstName.$error.maxlength && vm.formSecond.ownerFirstName.$touched">{{ 'maxLength' | translate }}30</p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-3">          
                            <label class="right">{{ 'vehicleOwnerLN' | translate }}</label>
                        </div>
                        <div class="col-xs-3">
                            <input type="text" ng-model="vm.vehicle.ownerLastName" name="ownerLastName" class="form-control" placeholder="{{ 'vehicleOwnerLN' | translate }}" ng-required="vm.insuranceTypeRoadCheck" ng-maxlength="30">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-offset-3 col-xs-3">
                            <p class="err-val" ng-show="vm.formSecond.ownerLastName.$error.required && vm.submittedSecond">{{ 'requiredField' | translate }}</p>
                            <p class="err-val" ng-show="vm.formSecond.ownerLastName.$error.maxlength && vm.formSecond.ownerLastName.$touched">{{ 'maxLength' | translate }}30</p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-3">          
                            <label class="right">{{ 'vehicleOwnerJMBG' | translate }}</label>
                        </div>
                        <div class="col-xs-3">
                            <input type="text" ng-model="vm.vehicle.ownerJmbg" name="ownerJmbg" class="form-control" placeholder="JMBG" ng-required="vm.insuranceTypeRoadCheck" ng-minlength="13" ng-maxlength="13" numbers-only="numbers-only">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-offset-3 col-xs-3">
                            <p class="err-val" ng-show="vm.formSecond.ownerJmbg.$error.required && vm.submittedSecond">{{ 'requiredField' | translate }}</p>
                            <p class="err-val" ng-show="vm.formSecond.ownerJmbg.$error.minlength && vm.formSecond.ownerJmbg.$touched">{{ 'specLength' | translate }}13</p>
                            <p class="err-val" ng-show="vm.formSecond.ownerJmbg.$error.maxlength && vm.formSecond.ownerJmbg.$touched">{{ 'specLength' | translate }}13</p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-3">                  
                            <label class="right">{{ 'vehicleType' | translate }}</label>
                        </div>
                        <div class="col-xs-3">
                            <input type="text" ng-model="vm.vehicle.type" name="type" class="form-control" placeholder="{{ 'vehicleType' | translate }}" ng-required="vm.insuranceTypeRoadCheck" ng-maxlength="30">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-offset-3 col-xs-3">
                            <p class="err-val" ng-show="vm.formSecond.type.$error.required && vm.submittedSecond">{{ 'requiredField' | translate }}</p>
                            <p class="err-val" ng-show="vm.formSecond.type.$error.maxlength && vm.formSecond.type.$touched">{{ 'maxLength' | translate }}30</p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-3">          
                            <label class="right">{{ 'vinNumber' | translate }}</label>
                        </div>
                        <div class="col-xs-3">
                            <input type="text" ng-model="vm.vehicle.vinNumber" name="vinNumber" class="form-control" placeholder="{{ 'vinNumber' | translate }}" ng-required="vm.insuranceTypeRoadCheck" ng-minlength="17" ng-maxlength="17">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-offset-3 col-xs-3">
                            <p class="err-val" ng-show="vm.formSecond.vinNumber.$error.required && vm.submittedSecond">{{ 'requiredField' | translate }}</p>
                            <p class="err-val" ng-show="vm.formSecond.vinNumber.$error.minlength && vm.formSecond.vinNumber.$touched">{{ 'specLength' | translate }}17</p>
                            <p class="err-val" ng-show="vm.formSecond.vinNumber.$error.maxlength && vm.formSecond.vinNumber.$touched">{{ 'specLength' | translate }}17</p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-3">          
                            <label class="right">{{ 'yearOfProduction' | translate }}</label>
                        </div>
                        <div class="col-xs-3">
                            <input type="text" ng-model="vm.vehicle.yearOfProduction" name="yearOfProduction" class="form-control" placeholder="{{ 'yearOfProduction' | translate }}" ng-required="vm.insuranceTypeRoadCheck" ng-minlength="4" ng-maxlength="4" numbers-only="numbers-only">
                        </div>
                    </div>
                    <div class="form-group row unity">
                        <div class="col-xs-offset-3 col-xs-3">
                            <p class="err-val" ng-show="vm.formSecond.yearOfProduction.$error.required && vm.submittedSecond">{{ 'requiredField' | translate }}</p>
                            <p class="err-val" ng-show="vm.formSecond.yearOfProduction.$error.minlength && vm.formSecond.yearOfProduction.$touched">{{ 'specLength' | translate }}4</p>
                            <p class="err-val" ng-show="vm.formSecond.yearOfProduction.$error.maxlength && vm.formSecond.yearOfProduction.$touched">{{ 'specLength' | translate }}4</p>
                        </div>
                    </div>
                </div>          
            </div>

            <div class="checkbox">
                <label class="form-check-label">
                    <input type="checkbox" ng-model="vm.insuranceTypeHomeCheck" ng-change="vm.insuranceTypeHomeChecking()"><p class="adit-text">{{vm.insuranceTypeHome.insuranceName}}</p>
                </label>
            </div>
   
            <div ng-show="vm.insuranceTypeHomeCheck">
                
                <div class="form-group">
                        <p class="h4 bg-success" align="center">{{ 'homeInfo' | translate }}</p>
                        <br>
                    <div class="form-group row">
                        <div class="col-xs-3">
                            <label class="right">{{ 'address' | translate }}</label>
                        </div>
                        <div class="col-xs-3">
                            <input type="text" ng-model="vm.home.address" name="address" class="form-control" placeholder="{{ 'address' | translate }}" ng-required="vm.insuranceTypeHomeCheck" ng-maxlength="30">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-offset-3 col-xs-3">
                            <p class="err-val" ng-show="vm.formSecond.address.$error.required && vm.submittedSecond">{{ 'requiredField' | translate }}</p>
                        </div>
                        <p class="err-val" ng-show="vm.formSecond.address.$error.maxlength && vm.formSecond.address.$touched">{{ 'maxLength' | translate }}30</p>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-3">          
                            <label class="right">{{ 'homeOwnerFN' | translate }}</label>
                        </div>
                        <div class="col-xs-3">
                            <input type="text" ng-model="vm.home.ownerFirstName" name="homeOwenerFirstName" class="form-control" placeholder="{{ 'homeOwnerFN' | translate }}" ng-required="vm.insuranceTypeHomeCheck" ng-maxlength="30">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-offset-3 col-xs-3">
                            <p class="err-val" ng-show="vm.formSecond.homeOwenerFirstName.$error.required && vm.submittedSecond">{{ 'requiredField' | translate }}</p>
                            <p class="err-val" ng-show="vm.formSecond.homeOwenerFirstName.$error.maxlength && vm.formSecond.homeOwenerFirstName.$touched">{{ 'maxLength' | translate }}30</p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-3">          
                            <label class="right">{{ 'homeOwnerLN' | translate }}</label>
                        </div>
                        <div class="col-xs-3">
                            <input type="text" ng-model="vm.home.ownerLastName" name="homeOwnerLastName" class="form-control" placeholder="{{ 'homeOwnerLN' | translate }}" ng-required="vm.insuranceTypeHomeCheck" ng-maxlength="30">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-offset-3 col-xs-3">
                            <p class="err-val" ng-show="vm.formSecond.homeOwnerLastName.$error.required && vm.submittedSecond">{{ 'requiredField' | translate }}</p>
                             <p class="err-val" ng-show="vm.formSecond.homeOwnerLastName.$error.maxlength && vm.formSecond.homeOwnerLastName.$touched">{{ 'maxLength' | translate }}30</p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-3">          
                            <label class="right">{{ 'homeOwnerJMBG' | translate }}</label>
                        </div>
                        <div class="col-xs-3">
                            <input type="text" ng-model="vm.home.ownerJMBG" name="ownerJMBG" class="form-control" placeholder="{{ 'homeOwnerJMBG' | translate }}" ng-required="vm.insuranceTypeHomeCheck" ng-minlength="13" ng-maxlength="13" numbers-only="numbers-only">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-offset-3 col-xs-3">
                            <p class="err-val" ng-show="vm.formSecond.ownerJMBG.$error.required && vm.submittedSecond">{{ 'requiredField' | translate }}</p>
                            <p class="err-val" ng-show="vm.formSecond.ownerJMBG.$error.minlength && vm.formSecond.ownerJMBG.$touched">{{ 'specLength' | translate }}13</p>
                            <p class="err-val" ng-show="vm.formSecond.ownerJMBG.$error.maxlength && vm.formSecond.ownerJMBG.$touched">{{ 'specLength' | translate }}13</p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-3">  
                            <label class="right">{{ 'surface' | translate }}</label>
                        </div>
                        <div class="col-xs-3">
                            <select class="form-control" ng-model="vm.surfaceSelected" name="surfaceSelected" ng-options="surface.nameTranslate.name for surface in vm.surfaces track by surface.id" ng-required="vm.insuranceTypeHomeCheck">
                                 <option value="">{{ 'selectSurface' | translate }}</option>            
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-offset-3 col-xs-3">
                            <p class="err-val" ng-show="vm.formSecond.surfaceSelected.$error.required && vm.submittedSecond">{{ 'requiredField' | translate }}</p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-3">      
                            <label class="right">{{ 'ageOfHome' | translate }}</label>
                        </div>
                        <div class="col-xs-3">
                            <select class="form-control" ng-model="vm.ageApartmentSelected" name="ageApartmentSelected" ng-options="ageApartment.nameTranslate.name for ageApartment in vm.ageApartments track by ageApartment.id" ng-required="vm.insuranceTypeHomeCheck">
                                 <option value="">{{ 'selectAge' | translate }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-offset-3 col-xs-3">
                            <p class="err-val" ng-show="vm.formSecond.ageApartmentSelected.$error.required && vm.submittedSecond">{{ 'requiredField' | translate }}</p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-3">  
                            <label class="right">{{ 'estimatedValue' | translate }}</label>
                        </div>
                        <div class="col-xs-3">      
                            <select class="form-control" ng-model="vm.valueApartmentSelected" name="valueApartmentSelected" ng-options="valueApartment.nameTranslate.name for valueApartment in vm.valueApartments track by valueApartment.id" ng-required="vm.insuranceTypeHomeCheck">
                                 <option value="">{{ 'selectValue' | translate }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-offset-3 col-xs-3">
                            <p class="err-val" ng-show="vm.formSecond.valueApartmentSelected.$error.required && vm.submittedSecond">{{ 'requiredField' | translate }}</p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-3">  
                            <label class="right">{{ 'insureFrom' | translate }}</label>
                        </div>
                        <div class="col-xs-3">  
                            <select class="form-control" ng-model="vm.disasterSelected" name="disasterSelected" ng-options="disaster.nameTranslate.name for disaster in vm.disasters track by disaster.id" ng-required="vm.insuranceTypeHomeCheck">
                                 <option value="">{{ 'selectType' | translate }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-offset-3 col-xs-3">
                            <p class="err-val" ng-show="vm.formSecond.disasterSelected.$error.required && vm.submittedSecond" >{{ 'requiredField' | translate }}</p>
                        </div>
                    </div>

                </div>                              
            </div>
     </div>
    
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <button type="submit" class="btn btn-block btn-info">
            {{ 'nextSection' | translate }} <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </button>
            <button ui-sref="buy.firstStep" class="btn btn-block btn-info">
            <span class="glyphicon glyphicon-circle-arrow-left"></span> {{ 'previousSection' | translate }} 
            </button>
            </span>         
        </div>
    </div>
    <br>
</form>

<!--   <button ui-sref="buy.thirdStep" class="btn btn-block btn-info" ng-click="vm.calculateSecondStep()"> -->