<!-- <div class="form-inline"> -->

    <div class="form-group row">
        <div class="col-xs-3">
            <label class="right">{{ 'insurancePremium' | translate }} </label>
        </div>
        <div class="col-xs-9">
             <p>{{vm.droolPrices.premiumPrice}} RSD</p>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-3">
            <label class="right" align="right">{{ 'discount' | translate }}</label>
        </div>
        <div class="col-xs-9">
             <p>{{vm.droolPrices.discountPrice}} RSD</p>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-3">
            <label class="right" align="right">{{ 'tax' | translate }}</label>
        </div>
        <div class="col-xs-9">
             <p>{{vm.droolPrices.taxPrice}} RSD</p>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-3">
            <label class="right" align="right">{{ 'totalPayment' | translate }}</label>
        </div>
        <div class="col-xs-9">
             <p>{{vm.droolPrices.totalPrice}} RSD</p>
        </div>
    </div>
    <br/>

    <div ng-hide="spinnerActive == true">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <button ui-sref="buy.fourthStep" class="btn btn-block btn-info">
                 {{ 'nextSection' | translate }} <span class="glyphicon glyphicon-circle-arrow-right"></span>
                </button>
                <button ui-sref="buy.secondStep" class="btn btn-block btn-info">
                <span class="glyphicon glyphicon-circle-arrow-left"></span> {{ 'previousSection' | translate }} 
                </button>
                </span>         
            </div>
        </div>
    </div>
    <br>