 <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="" translate="cn"></a>
            </div>
            <ul class="nav navbar-nav">
              <!-- <li class="active"><a href="#">Home</a></li> -->
              <li><a href="/home" translate="home"></a></li>
              <li><a href="/buy" translate="buyInsurance"></a></li>
              <li><a href="/about" translate="about"></a></li>        
              <li style="padding-left: 200px;"><button type="button" class="btn-info btn-lg" ng-click="vm.changeCurrentLanguage('Serbian')" translate="serbian">Serbian</button></li>
              <li><button type="button" class="btn-info btn-lg" ng-click="vm.changeCurrentLanguage('English')" translate="english">English</button></li>
            </ul>
           
          </div>
        </nav>