<h2>Travel insurance</h2>

<div class="tab-content">
    <form name="profileForm" ng-submit="vm.modifyProfile()">
		<table  class="table">
			<tr>
				<th class="col-sm-1">Region</th>
				<td>
					<select>
						<option ng-repeat="region in vm.region">{{region}}</option>
					</select>
				</td>			
			</tr>
			<tr>
				<th class="col-sm-1">Sum to insure</th>
				<td >		  
					<span ng-repeat="sum in vm.sumTo">
						 <input type="radio" ng-model="$parent.sumToinsur"   
						    	ng-value="sum" name="sumToinsur">    
						 <label for="sum{{sum}}">{{sum}}</label>
						 <br>		   
					</span>
					   {{sumToinsur}}						 
				</td>				
			</tr>
			<tr>
				<th class="col-sm-1">Age insurance carrier</th>
				<td>
					<select>
						<option ng-repeat="ageCarrier in vm.ageCarrier">{{ageCarrier}}</option>
					</select>
				</td>			
			</tr>
			<tr>
				<th class="col-sm-1">Number of insured persons</th>
				<td>
					<select>
						<option ng-repeat="numbPers in vm.numberOfPersons">{{numbPers}}</option>
					</select>
				</td>			
			</tr>
			<tr>
				<th class="col-sm-1">Duration</th>
				<td>
					<select>
						<option ng-repeat="ageCarrier in vm.ageCarrier">{{ageCarrier}}</option>
					</select>
				</td>			
			</tr>


		</table>
		<br><br>
 	</form>
  </div>