
		
<h2 align="center">Travel insurance for abroad</h2>
			<br>
		<div class="col-sm-8 col-sm-offset-2">


		  <div id="form-container">
		          <!-- the links to our nested states using relative paths -->
		          <!-- add the active class if the state matches our ui-sref -->
		          <div id="status-buttons" class="text-center">
		              <a ui-sref-active="active" ui-sref=".firstStep"><span>1</span>First Step</a>
		              <a ui-sref-active="active" ui-sref=".secondStep"><span>2</span> Second Step</a>
		              <a ui-sref-active="active" ui-sref=".thirdStep"><span>3</span> Third Step</a>
		          </div>
		   </div> 
			      <!-- use ng-submit to catch the form submission and use our Angular function -->
			      <form id="signup-form" ng-submit="vm.processForm()">
			          <!-- our nested state views will be injected here -->
			          <div id="form-views" ui-view></div>
			      </form>  	  
		</div>
		
