
	<input type="checkbox" ng-model="insuranceType[$index]"  > 
		<!-- ng-change="nesto()" -->
		<!-- {{insuranceType[$index]}}	true /false -->
		

		{{insuranceType.insuranceName}}
		<!-- moze i preko ng-if, samo onda dodam jos jednog $parenta jer ng-if ima svoj scope -->
		<div ng-show="insuranceType[$index] && insuranceType.insuranceName =='Road Insurance'">
		 <!-- <input type="text" style="width:300px;" class="form-control" />{{insuranceType.insuranceName}} -->
	 		
	 		
	 		<div class="form-group">
		 		<h4 align="center" translate="additionalPackages"></h4>	
		 		<input type="checkbox" ng-model="towings[$index]"  ng-true-value="'yes'" >		
				<label>{{ 'towing' | translate }}</label>
				<br/>
					<div class="form-group">		
						<select ng-show="towings[$index]" ng-model="$parent.vm.towingSelected" ng-options="towing.name for towing in towings">
					  	     <option value="">{{ 'selectMileage' | translate }}</option>
						</select>
					</div>
			</div>
			<div class="form-group">
		 		<input type="checkbox" ng-model="repairs[$index]"  >		
				<label>{{ 'repairsTo' | translate }}</label>
				<br/>
					<div class="form-group">		
						<select ng-show="repairs[$index]" ng-model="$parent.vm.repairSelected" ng-options="repair.name for repair in repairs">
					  	     <option value="">{{ 'selectPrice' | translate }}</option>
						</select>
					</div>
			</div>
			<div class="form-group">
		 		<input type="checkbox" ng-model="accommodations[$index]"  >		
				<label>{{ 'accommodation' | translate }}</label>
				<br/>
					<div class="form-group">		
						<select ng-show="accommodations[$index]" ng-model="$parent.vm.accommodationSelected" ng-options="accommodation.name for accommodation in accommodations">
					  	     <option value=""> {{ 'selectNumberOfDays' | translate }} </option>
						</select>
					</div>
			</div>
			<div class="form-group">
		 		<input type="checkbox" ng-model="alternativeRides[$index]"  >		
				<label>{{ 'alternativeRide' | translate }}</label>
				<br/>
					<div class="form-group">		
						<select ng-show="alternativeRides[$index]" ng-model="$parent.vm.alternativeRideSelected" ng-options="alternativeRide.name for alternativeRide in alternativeRides">
					  	     <option value="">{{ 'selectRide' | translate }}</option>
						</select>
					</div>
			</div>
			<br/>

		 	<div class="form-group">
		 		<h4 align="center">{{ 'vehicleInformations' | translate }}</h4>			
				<label>{{ 'registrationNumber' | translate }}</label>
				<input type="text" ng-model="$parent.vm.vehicle.registration_number" class="form-control" placeholder="{{ 'registrationNumber' | translate }}">
			</div>
			<div class="form-group">			
				<label>{{ 'vehicleMake' | translate }}</label>
				<input type="text" ng-model="$parent.vm.vehicle.make" class="form-control" placeholder="{{ 'vehicleMake' | translate }}">
			</div>
			<div class="form-group">			
				<label>{{ 'vehicleOwnerFN' | translate }}</label>
				<input type="text" ng-model="$parent.vm.vehicle.owner_first_name" class="form-control" placeholder="{{ 'vehicleOwnerFN' | translate }}">
			</div>
			<div class="form-group">			
				<label>{{ 'vehicleOwnerLN' | translate }}</label>
				<input type="text" ng-model="$parent.vm.vehicle.owner_last_name" class="form-control" placeholder="{{ 'vehicleOwnerLN' | translate }}">
			</div>
			<div class="form-group">			
				<label>{{ 'vehicleOwnerJMBG' | translate }}</label>
				<input type="text" ng-model="$parent.vm.vehicle.owner_jmbg" class="form-control" placeholder="JMBG">
			</div>
			<div class="form-group">			
				<label>{{ 'vehicleType' | translate }}</label>
				<input type="text" ng-model="$parent.vm.vehicle.type" class="form-control" placeholder="{{ 'vehicleType' | translate }}">
			</div>
			<div class="form-group">			
				<label>{{ 'vinNumber' | translate }}</label>
				<input type="text" ng-model="$parent.vm.vehicle.vin_number" class="form-control" placeholder="{{ 'vinNumber' | translate }}">
			</div>
			<div class="form-group">			
				<label>{{ 'yearOfProduction' | translate }}</label>
				<input type="text" ng-model="$parent.vm.vehicle.year_of_production" class="form-control" placeholder="{{ 'yearOfProduction' | translate }}">
			</div>			
		</div>	 

		<div ng-show="insuranceType[$index] && insuranceType.insuranceName =='Home Insurance'">
			
		 	<div class="form-group">
		 		<h4 align="center">{{ 'homeInfo' | translate }}</h4>			
				<label>{{ 'address' | translate }}</label>
				<input type="text" ng-model="$parent.vm.home.address" class="form-control" placeholder="{{ 'address' | translate }}">
			</div>
			<div class="form-group">			
				<label>{{ 'homeOwnerFN' | translate }}</label>
				<input type="text" ng-model="$parent.vm.home.owner_first_name" class="form-control" placeholder="{{ 'homeOwnerFN' | translate }}">
			</div>
			<div class="form-group">			
				<label>{{ 'homeOwnerLN' | translate }}</label>
				<input type="text" ng-model="$parent.vm.home.owner_last_name" class="form-control" placeholder="{{ 'homeOwnerLN' | translate }}">
			</div>
			<div class="form-group">			
				<label>{{ 'homeOwnerJMBG' | translate }}</label>
				<input type="text" ng-model="$parent.vm.home.owner_jmbg" class="form-control" placeholder="{{ 'homeOwnerJMBG' | translate }}">
			</div>

			<div class="form-group">	
				<label>{{ 'surface' | translate }}</label>&nbsp;	
				<select ng-model="$parent.vm.surfaceSelected" ng-options="surface.name for surface in surfaces">
			  	     <option value="">{{ 'selectSurface' | translate }}</option>			
				</select>
			</div>
			<div class="form-group">		
				<label>{{ 'ageOfHome' | translate }}</label>&nbsp;
				<select ng-model="$parent.vm.ageApartmentSelected" ng-options="ageApartment.name for ageApartment in ageApartments">
			  	     <option value="">{{ 'selectAge' | translate }}</option>
				</select>
			</div>
			<div class="form-group">	
				<label>{{ 'estimatedValue' | translate }}</label>&nbsp;		
				<select ng-model="$parent.vm.valueApartmentSelected" ng-options="valueApartment.name for valueApartment in valueApartments">
			  	     <option value="">{{ 'selectValue' | translate }}</option>
				</select>
			</div>
			<div class="form-group">	
				<label>{{ 'insureFrom' | translate }}</label>&nbsp;	
				<select ng-model="$parent.vm.disasterSelected" ng-options="disaster.name for disaster in disasters">
			  	     <option value="">{{ 'selectType' | translate }}</option>
				</select>
			</div>								
		</div>

		
