	<div class="form-group">			
		<label class="bg-info" for="{{age.name}}">{{age.name}}</label>
		<input type="text" ng-model="$parent.vm.ageTyped[$parent.$index]" class="form-control" name="{{age.name}}" placeholder="0">
		<p>{{$parent.vm.ageTyped[$parent.$index]}}</p>
	</div>

			<!-- <div class="form-group">			
				<label>Vehicle owner first name</label>
				<input type="text"  ng-init="$parent.vm.ageTyped.ageSub[$parent.$index] = age" ng-model="$parent.vm.ageTyped.ageSub[$parent.$index]" class="form-control" placeholder="First name" >
			</div> -->

			<div class="form-group" hidden>			
				<label>Vehicle owner first name</label>
				<input type="text"  ng-init="$parent.vm.ageTyped.idAgeSub[$parent.$index] = age.id" ng-model="$parent.vm.ageTyped.idAgeSub[$parent.$index]" class="form-control" placeholder="First name" >
			</div>

			
