
    <h4 align="left">Insurance contractor informations:</h4>  
    <div class="form-group">          
        <label>First name</label>
        <input type="text" ng-model="vm.buyer.first_name" class="form-control" placeholder="First name">
    </div>
    <div class="form-group">          
        <label>Last name</label>
        <input type="text" ng-model="vm.buyer.last_name" class="form-control" placeholder="Last name">
    </div>
    <div class="form-group">          
        <label>JMBG</label>
        <input type="text" ng-model="vm.buyer.jmbg" class="form-control" placeholder="JMBG">
    </div>
    <div class="form-group">          
        <label>Passport number</label>
        <input type="text" ng-model="vm.buyer.passport_number" class="form-control" placeholder="Passport number">
    </div>
    <div class="form-group">          
        <label>Address</label>
        <input type="text" ng-model="vm.buyer.address" class="form-control" placeholder="Address">
    </div>
    <div class="form-group">          
        <label>Phone number</label>
        <input type="text" ng-model="vm.buyer.phone_number" class="form-control" placeholder="Phone number">
    </div>
    <div class="form-group">          
        <label>E-mail</label>
        <input type="text" ng-model="vm.buyer.email" class="form-control" placeholder="E-mail">
    </div>

    <label for="sumTo">Insurance contractor is:</label>
        <div class="form-group" >      
                 <input type="radio" ng-model="vm.contractor"   
                         name="contractor"  ng-value="contractor">    
                 <label>same person as insurance carrier.</label>
                 <br>  
                 <input type="radio" ng-model="vm.contractor"   
                         name="not" value="notContractor" ng-change="">    
                 <label>NOT a same person as insurance carrier.</label>
                 <br>                 
         </div>


         <!-- Ako nije ista osoba kao ugovarac osiguranja -->
         <div ng-if="vm.contractor == 'notContractor'">
            <h4 align="left">Insurance carrier informations:</h4>
            <div class="row form-inline">
                <div class="form-group-pers col-md-1" style="width: 0.5%">
                        <br/><br/>
                        <label>0.</label>                  
                 </div>

                 <div class="form-group-pers col-md-2">
                        <label for="name" >First name</label>
                        <input style="width: 100px" type="text" ng-model="vm.person.first_name_holder" class="form-control" id="name" placeholder="First name">
                 </div>
                  <div class="form-group-pers  col-md-2">
                        <label for="last" >Last name</label>
                        <input style="width: 100px" type="text" ng-model="vm.person.last_name_holder" class="form-control" id="last" placeholder="Last name">
                 </div>
                 <div class="form-group-pers  col-md-3">
                        <label for="address" >Address</label>
                        <input style="width: 160px" type="text" ng-model="vm.person.address_holder" class="form-control" id="address" placeholder="Address">
                 </div>
                 <div class="form-group-pers col-md-2">
                        <label for="passport" >Passport</label>
                        <input style="width: 100px" type="text" ng-model="vm.person.passport_number_holder" class="form-control" id="passport" placeholder="Passsport">
                 </div>
                 <div class="form-group-pers col-md-2">
                        <label for="phone" >Phone</label>
                        <input style="width: 100px" type="text" ng-model="vm.person.phone_number_holder" class="form-control" id="phone" placeholder="Phone">
                 </div>
            </div>        
         </div>

          <!-- URADI AKO KORISNIK PROMENI NAZAD -->




    <h4 align="left">Insuranced persons:</h4>

     <span ng-repeat="i in vm.getNumber(vm.totalPersons) track by $index">
            <buy-persons-directive age="age"></buy-persons-directive>
    </span>


<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="buy.fifthStep" class="btn btn-block btn-info">
        Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
        <a ui-sref="buy.thirdStep" class="btn btn-block btn-info">
        <span class="glyphicon glyphicon-circle-arrow-left"></span> Previouse Section 
        </a>
        </span>         
    </div>
</div>