
    <h4 align="left">Insurance contractor informations:</h4>  
    <div class="form-group">          
        <label>First name</label>
        <input type="text" ng-model="vm.buyer.first_name" class="form-control" placeholder="First name">
    </div>
    <div class="form-group">          
        <label>Last name</label>
        <input type="text" ng-model="vm.buyer.last_name" class="form-control" placeholder="Last name">
    </div>
    <div class="form-group">          
        <label>JMBG</label>
        <input type="text" ng-model="vm.buyer.jmbg" class="form-control" placeholder="JMBG">
    </div>
    <div class="form-group">          
        <label>Passport number</label>
        <input type="text" ng-model="vm.buyer.first_name" class="form-control" placeholder="First name">
    </div>
    <div class="form-group">          
        <label>First name</label>
        <input type="text" ng-model="vm.buyer.first_name" class="form-control" placeholder="First name">
    </div>

<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="buy.fifthStep" class="btn btn-block btn-info">
        Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
        <a ui-sref="buy.thirdStep" class="btn btn-block btn-info">
        <span class="glyphicon glyphicon-circle-arrow-left"></span> Previouse Section 
        </a>
        </span>         
    </div>
</div>