    
    <!-- <div class="form-group"> -->
        <p class="h4 bg-success" align="center">{{ 'insuranceContractorInfo' | translate }}</p>
        <br>
    
        <div class="form-group row">
            <div class="col-md-3">          
                <label class="right">{{ 'firstName' | translate }}:</label>
            </div>
            <div class="col-md-3">
                <input type="text" ng-model="vm.buyer.first_name" class="form-control" placeholder="{{ 'firstName' | translate }}">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">          
                <label class="right">{{ 'lastName' | translate }}:</label>
            </div>
            <div class="col-md-3">
                <input type="text" ng-model="vm.buyer.last_name" class="form-control" placeholder="{{ 'lastName' | translate }}">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">          
                <label class="right">{{ 'jmbg' | translate }}:</label>
            </div>
            <div class="col-md-3">
                <input type="text" ng-model="vm.buyer.jmbg" class="form-control" placeholder="{{ 'jmbg' | translate }}">
            </div>
        </div>
           <div class="form-group row">
            <div class="col-md-3">          
                <label class="right">{{ 'passportNumber' | translate }}:</label>
            </div>
            <div class="col-md-3">
                <input type="text" ng-model="vm.buyer.passport_number" class="form-control" placeholder="{{ 'passportNumber' | translate }}">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">          
                <label class="right">{{ 'address' | translate }}:</label>
            </div>
            <div class="col-md-3">
                <input type="text" ng-model="vm.buyer.address" class="form-control" placeholder="{{ 'address' | translate }}">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">          
                <label class="right">{{ 'phoneNumber' | translate }}:</label>
            </div>
            <div class="col-md-3">
                <input type="text" ng-model="vm.buyer.phone_number" class="form-control" placeholder="{{ 'phoneNumber' | translate }}">
            </div>
        </div>
          <div class="form-group row celina">
            <div class="col-md-3">          
                <label class="right">E-mail:</label>
            </div>
            <div class="col-md-3">
                <input type="text" ng-model="vm.buyer.email" class="form-control" placeholder="E-mail">
            </div>
        </div>
    

        <div class="form-group row celina">
            <div class="col-md-3">
                <label class="right" for="sumTo">{{ 'insuranceContractor' | translate }}</label>
            </div>
            <div class="col-md-9">     
                <input type="radio" ng-model="vm.contractor" name="contractor" ng-value="contractor">    
                <label>{{ 'spaic' | translate }}</label>
                <br>  
                <input type="radio" ng-model="vm.contractor" name="not" value="notContractor" ng-change="">    
                <label>{{ 'nspaic' | translate }}</label>
                <br>                 
             </div>
        </div>

             <!-- Ako nije ista osoba kao ugovarac osiguranja -->
             <div ng-if="vm.contractor == 'notContractor'">
                    <label>Insurance carrier informations:</label>
                    <br><br>
                <!-- <p class="h4" align="left">Insurance carrier informations:</p> -->
                <div class="form-group row celina">
                    <div class="form-group col-md-1" style="width: 0.5%">
                            <br/><br/>
                            <label>0.</label>                  
                     </div>

                     <div class="form-group col-md-2">
                            <label class="center" for="name" >{{ 'firstName' | translate }}</label>
                            <input type="text" ng-model="vm.person.first_name_holder" class="form-control" id="name" placeholder="{{ 'firstName' | translate }}">
                     </div>
                      <div class="form-group  col-md-2">
                            <label class="center" for="last" >{{ 'lastName' | translate }}</label>
                            <input type="text" ng-model="vm.person.last_name_holder" class="form-control" id="last" placeholder="{{ 'lastName' | translate }}">
                     </div>
                     <div class="form-group  col-md-3">
                            <label class="center" for="address" >{{ 'address' | translate }}</label>
                            <input type="text" ng-model="vm.person.address_holder" class="form-control" id="address" placeholder="{{ 'address' | translate }}">
                     </div>
                     <div class="form-group col-md-2">
                            <label class="center" for="passport" >{{ 'passportNumber' | translate }}</label>
                            <input type="text" ng-model="vm.person.passport_number_holder" class="form-control" id="passport" placeholder="{{ 'passportNumber' | translate }}">
                     </div>
                     <div class="form-group col-md-2">
                            <label class="center" for="phone" >{{ 'phoneNumber' | translate }}</label>
                            <input type="text" ng-model="vm.person.phone_number_holder" class="form-control" id="phone" placeholder="{{ 'phoneNumber' | translate }}">
                     </div>
                </div>        
             </div>

              <!-- URADI AKO KORISNIK PROMENI NAZAD -->
 
    <div ng-if="vm.totalPersons != 0">
        <p class="h4 bg-success" align="center">{{ 'insurancedPersons' | translate }}</p>
    </div>
     <span ng-repeat="(personIndex, i) in vm.getNumber(vm.totalPersons) track by $index">
            <buy-persons-directive age="age" person-index="personIndex" person="vm.person"></buy-persons-directive>
    </span>



<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="buy.fifthStep" class="btn btn-block btn-info">
        {{ 'nextSection' | translate }}<span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
        <a ui-sref="buy.thirdStep" class="btn btn-block btn-info">
        <span class="glyphicon glyphicon-circle-arrow-left"></span>{{ 'previousSection' | translate }} 
        </a>
        </span>         
    </div>
</div>