	<div class="form-group">
		<label class="buy-lable" for="region">Region:</label>
		&nbsp;
	    <select ng-model="vm.regionSelected" ng-options="region.name for region in vm.regions">
	  	     <option value=""> - Select destination - </option>
			<!-- <option ng-repeat="region in vm.regions" value="{{region}}">{{region.name}}</option> -->
		</select>
		{{vm.regionSelected}}
	</div>

	<div class="form-group">
	 			<label class="buy-lable" for="sumTo">Sum to insure:</label>
	 			<!-- <div class="form-group">
		   			<span ng-repeat="sum in vm.sumTo">
						 <input type="radio" ng-model="$parent.sumToinsur"   
						    	ng-value="sum.name" name="sumToinsur">    
						 <label for="sum.name{{sum.name}}">{{sum.name}}</label>
						 <br>		   
					</span>
					   {{sumToinsur}}	
				</div> -->
				<div class="form-group">
		   			<span ng-repeat="sum in vm.sumTo">
						 <input type="radio" ng-model="vm.sumToSelected"   
						    	ng-value="sum" name="sumToinsur">    
						 <label for="sum.name{{sum.name}}">{{sum.name}}</label>
						 <br>		   
					</span>
					   {{vm.sumToSelected}}	
				</div>

	</div>

	<div class="form-group">
		<label class="buy-lable" for="ageCarrier">Age insurance carrier:</label>
		&nbsp;
	    <select ng-model="vm.ageSelected" ng-options="age.name for age in vm.ages">
	   	    <option value=""> - Select age - </option>
			<!-- <option ng-repeat="age in vm.ages" ng-value="age">{{age.name}}</option> -->
		</select>
	</div>

	<!-- Uradjeno preko direktive!!! -->
	<!-- <div class="form-group">
		<label class="buy-lable" for="numberOfPersons">Number of insuranced persons:</label>
		<div class="form-group">
			<span ng-repeat="age in vm.ages">
				<label class="buy-lable" for="{{age.name}}">{{age.name}}</label>
				<input type="text" class="form-control"  ng-model="$parent.vm.aget[$index]" name="{{age.name}}" placeholder="0">
				{{$parent.vm.aget[$index]}}				
			</span>
		</div>
	</div> -->

	<!-- Persons preko DIREKTIVE!!! -->
	<div class="form-group">
		 <label class="buy-lable" for="numberOfPersons">Number of insuranced persons:</label>
		 <span ng-repeat="age in vm.ages">
		 	<buy-directive age="age"></buy-directive>
		 </span>
	</div>

	<!-- Za DatePicker -->
	<div class="form-group">
		<label class="buy-lable" for="duration">Duration of insurance:</label>
		<div class="form-group">
			<label class="buy-lable" for="startDate">From</label>
		    <p class="input-group">
		      <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.startDate" is-open="vm.startOpened" datepicker-options="vm.dateOptions" ng-change="vm.startDatePicked()" ng-required="true" close-text="Close" />
		      <span class="input-group-btn">
		        <button type="button" class="btn btn-default" ng-click="vm.openStart()"><i class="glyphicon glyphicon-calendar"></i></button>
		      </span>
		    </p>
		</div>

		<div class="form-group">
			<label class="buy-lable" for="endDate">To</label>
		    <p class="input-group">
		      <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.endDate" is-open="vm.endOpened" datepicker-options="vm.dateOptions" ng-change="vm.endDatePicked()" ng-required="true" close-text="Close" />
		      <span class="input-group-btn">
		        <button type="button" class="btn btn-default" ng-click="vm.openEnd()"><i class="glyphicon glyphicon-calendar"></i></button>
		      </span>
		    </p>
		</div>
	</div>
	 
	<div class="form-group">
		<label class="buy-lable" for="sport">Sport:</label>
		&nbsp;
	    <select ng-model="vm.sportSelected">
	   		<option value=""> - Select Sport - </option>
			<option ng-repeat="sport in vm.sports">{{sport.name}}</option>
		</select>
		<p>test ako nije nista izabrano:</p>{{vm.sportSelected}}
	</div>

	<div class="form-group">
			<label class="buy-lable" for="insuranceType">Additional insurance:</label>
				<br>
				<ul ng-repeat="insuranceType in vm.insuranceTypes">
				  <li><input type="checkbox" checklist-model="vm.checked[$index]" checklist-value="insuranceType"> {{insuranceType.insuranceName}}</li>
				  <!-- <li ng-if="vm.checked">ASD</li>			  -->
				</ul>
				<!-- {{vm.checked}} -->
				{{vm.checked}}
				<!-- <span ng-if="vm.checked[0]">Vehicle {{vm.checked[0]}}</span>		 -->
	</div>

	<div class="form-group row">
		<div class="col-xs-6 col-xs-offset-3">
		    <a ui-sref="buy.secondStep" class="btn btn-block btn-info" ng-click="vm.calculate()">
		    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
		    </a>
		</div>
	</div>

	<!-- Insurance type direktiva -->
	<div class="form-group">
		 <label class="buy-lable" for="insurnaceType">Additional insurance:</label>
		 <ul ng-repeat="insuranceType in vm.insuranceTypes">
		 	<!-- <p>INSURANCES: {{insuranceType}}</p> -->
		 	<li><buy-additional-directive insurance-type="insuranceType"></buy-additional-directive></li>
		 </ul>
	</div>




