			<div class="form-group">
				<label class="buy-lable" for="region">Region</label>
			    <select>
					<option ng-repeat="region in vm.regions">{{region.name}}</option>
				</select>
			</div>
			<div class="form-group">
			 			<label class="buy-lable" for="sumTo">Sum to insure</label>
			 			<br>
			   			<span ng-repeat="sum in vm.sumTo">
							 <input type="radio" ng-model="$parent.sumToinsur"   
							    	ng-value="sum" name="sumToinsur">    
							 <label for="sum{{sum}}">{{sum}}</label>
							 <br>		   
						</span>
						   {{sumToinsur}}	
			</div>

			<div class="form-group">
				<label class="buy-lable" for="ageCarrier">Age insurance carrier</label>
			    <select>
					<option ng-repeat="age in vm.ages">{{age.name}}</option>
				</select>
			</div>

			<div class="form-group">
				<label class="buy-lable" for="numberOfPersons">Number of insuranced persons</label>
				<span ng-repeat="age in vm.ages">
					<label class="buy-lable" for="{{age.name}}}">{{age.name}}</label>
					<input type="text" class="form-control" name="{{age.name}}" placeholder="0">
				</span>
			</div>

			<div class="form-group">
					<label class="buy-lable" for="insuranceType">Additional insurance</label>
						<br>
			 			<label ng-repeat="insuranceType in vm.insuranceType"> 				   
							  <input type="checkbox" checklist-model="vm.checked" checklist-value="insuranceType"> {{insuranceType}}
						</label>
						{{vm.checked}}
						<br>
						<span ng-repeat="checked in vm.checked">
							{{checked}}
						</span>
						
			</div>

<div class="form-group row">
	<div class="col-xs-6 col-xs-offset-3">
	    <a ui-sref="buy.secondStep" class="btn btn-block btn-info">
	    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
	    </a>
	</div>
</div>