
    <!-- Insurance type direktiva -->
    <div class="form-group">
         <label class="buy-lable" for="insurnaceType" translate="additionalInsurance"></label>
         <ul ng-repeat="insuranceType in vm.insuranceTypes">
            <!-- <p>INSURANCES: {{insuranceType}}</p> -->
            <li><buy-additional-directive insurance-type="insuranceType" towings="vm.towings" repairs="vm.repairs" accommodations="vm.accommodations" alternative-rides="vm.alternativeRides" surfaces="vm.surfaces" age-apartments="vm.ageApartments" value-apartments="vm.valueApartments" disasters="vm.disasters" towing-selected="vm.towingSelected" repair-selected="vm.repairSelected" accommodation-selected="vm.accommodationSelected" alternative-ride-selected="vm.alternativeRideSelected" vehicle="vm.vehicle" home="vm.home" surface-selected="vm.surfaceSelected" age-apartment-selected="vm.ageApartmentSelected" value-apartment-selected="vm.valueApartmentSelected" disaster-selected="vm.disasterSelected"></buy-additional-directive></li>
         </ul>
    </div>
    {{vm.towingSelected}}

<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="buy.thirdStep" class="btn btn-block btn-info" ng-click="vm.calculateSecondStep()">
        {{ 'nextSection' | translate }} <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
        <a ui-sref="buy.firstStep" class="btn btn-block btn-info">
        <span class="glyphicon glyphicon-circle-arrow-left"></span> {{ 'previousSection' | translate }} 
        </a>
        </span>         
    </div>
</div>

{{vm.test}}