<!-- <div class="form-inline">

<!-- <div class="container"> -->
    <div class="form-inline">
            <label class="col-xs-3" align="right">Insurance premium:</label>
            <label>{{vm.droolPrices.premiumPrice}} RSD</label>
    </div>
    <br/>
    <div class="form-inline">
            <label class="col-xs-3" align="right">Discount:</label>
            <label>{{vm.droolPrices.discountPrice}} RSD</label>
    </div>
    <br/>
    <div class="form-inline">
            <label class="col-xs-3" align="right">Tax:</label>
            <label>{{vm.droolPrices.taxPrice}} RSD</label>
    </div>
    <br/>
    <div class="form-inline">
            <label class="col-xs-3" align="right">Total payment:</label>
            <label>{{vm.droolPrices.totalPrice}} RSD</label>
    </div>
    <br/>


<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="buy.fourthStep" class="btn btn-block btn-info">
        Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
        <a ui-sref="buy.secondStep" class="btn btn-block btn-info">
        <span class="glyphicon glyphicon-circle-arrow-left"></span> Previouse Section 
        </a>
        </span>         
    </div>
</div>