 <br><br><br><br>
 <!-- {{spinnerActive}} -->

 <form id="signup-form" ng-class="{'submitted': vm.submitted}" id="signup-form" name="vm.form" novalidate ng-submit="vm.pay()">

    <div class="form-group col-xs-8 col-xs-offset-2 form-div">

        <p class="h4 bg-danger" align="center">Purchase Information:</p>
        <div class="form-group row">
            <div class="col-xs-3">
                 <label class="right">Merchant:</label>
            </div>
            <div class="col-xs-9">
                  <p>Chuck Norris insurance a.d.o. Novi Sad</p>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3">
                 <label class="right">Price:</label>
            </div>
            <div class="col-xs-9">
                  <p>{{vm.amount.amount}} RSD</p>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3">
                 <label class="right">Payment ID:</label>
            </div>
            <div class="col-xs-9">
                  <p>{{vm.paymentId}}</p>
            </div>
        </div>
                    
        <p class="h4 bg-danger" align="center">Card Information:</p>
        <div class="form-group row">
            <div class="col-xs-3">
                <label class="right">Accepted brands:</label>
            </div>
            <div class="col-xs-9">
                <img ng-src="./../assets/img/cardBrands.jpg" alt="Smiley face" height="70" width="400">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3">
                <label class="right">Card number(PAN):</label>
            </div>
            <div class="col-xs-3">
                <input type="text" ng-model="vm.card.pan" name="pan" class="form-control" placeholder="Card number" required ng-minlength="14" ng-maxlength="16" numbers-only="numbers-only">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-offset-3 col-xs-4">
                <p class="err-val" ng-show="vm.form.pan.$error.required && vm.submitted">Required field</p>
                <p class="err-val" ng-show="vm.form.pan.$error.minlength && vm.form.pan.$touched">Min characters is 14</p>
                <p class="err-val" ng-show="vm.form.pan.$error.maxlength && vm.form.pan.$touched">Max characters is 16</p>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3">
                <label class="right">CVV2/CVC2:</label>
            </div>
            <div class="col-xs-2">
                <input type="text" ng-model="vm.card.securityCode" name="securityCode" class="form-control" placeholder="CVV2/CVC2" required ng-minlength="3" ng-maxlength="4" numbers-only="numbers-only">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-offset-3 col-xs-4">
                <p class="err-val" ng-show="vm.form.securityCode.$error.required && vm.submitted">Required field</p>
                <p class="err-val" ng-show="vm.form.securityCode.$error.minlength && vm.form.securityCode.$touched">Min characters is 3</p>
                <p class="err-val" ng-show="vm.form.securityCode.$error.maxlength && vm.form.securityCode.$touched">Max characters is 4</p>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3">
                <label class="right">Expiration date:</label>
            </div>
            <div class="col-xs-2">
                <select class="form-control" ng-model="vm.card.month" name="month" ng-options="month for month in vm.months" required>
                     <option value="" translate="-month-"> </option>
                </select>             
            </div>
            <div class="col-xs-2">
                <select class="form-control" ng-model="vm.card.year" name="year" ng-options="year for year in vm.years" required>
                     <option value="" translate="-year-"> </option>
                </select> 
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-offset-3 col-xs-2">
                <p class="err-val" ng-show="vm.form.month.$error.required && vm.submitted">Required field</p>
            </div>
            <div class="col-xs-2">
                <p class="err-val" ng-show="vm.form.year.$error.required && vm.submitted">Required field</p>
            </div>
        </div>
        <br>
        

        <div class="form-group col-xs-offset-3 row">
             <button type="submit" class="btn btn-success col-xs-3"  ng-disabled="isDisabled" ng-click="buttonDisable()">Pay</button>
        </div>

    </div>
                
</form>