 <br><br><br><br>
 <!-- {{spinnerActive}} -->

 <form id="signup-form" ng-submit="vm.pay()">

    <div class="form-group col-xs-8 col-xs-offset-2 form-div">

        <p class="h4 bg-danger" align="center">Purchase Information:</p>
        <div class="form-group row">
            <div class="col-xs-3">
                 <label class="right">Merchant:</label>
            </div>
            <div class="col-xs-9">
                  <p>Chuck Norris insurance a.d.o. Novi Sad</p>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3">
                 <label class="right">Price:</label>
            </div>
            <div class="col-xs-9">
                  <p>{{vm.amount.amount}} RSD</p>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3">
                 <label class="right">Payment ID:</label>
            </div>
            <div class="col-xs-9">
                  <p>{{vm.paymentId}}</p>
            </div>
        </div>
                    
        <p class="h4 bg-danger" align="center">Card Information:</p>
        <div class="form-group row">
            <div class="col-xs-3">
                <label class="right">Accepted brands:</label>
            </div>
            <div class="col-xs-9">
                <img ng-src="./../assets/img/cardBrands.jpg" alt="Smiley face" height="70" width="400">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3">
                <label class="right">Card number(PAN):</label>
            </div>
            <div class="col-xs-3">
                <input type="text" ng-model="vm.card.pan" class="form-control" placeholder="Card number">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3">
                <label class="right">CVV2/CVC2:</label>
            </div>
            <div class="col-xs-2">
                <input type="text" ng-model="vm.card.securityCode" class="form-control" placeholder="CVV2/CVC2">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3">
                <label class="right">Expiration date:</label>
            </div>
            <div class="col-xs-2">
                <select class="form-control" ng-model="vm.card.month" ng-options="month for month in vm.months">
                     <option value="" translate="-month-"> </option>
                </select>             
            </div>
            <div class="col-xs-2">
                <select class="form-control" ng-model="vm.card.year" ng-options="year for year in vm.years">
                     <option value="" translate="-year-"> </option>
                </select> 
            </div>
        </div>
        <br>


        <div class="form-group col-xs-offset-3 row">
             <button type="submit" class="btn btn-success col-xs-3"  ng-disabled="isDisabled" ng-click="buttonDisable()">Pay</button>
        </div>

    </div>
                
</form>