/*BITNO, #signup-form  vrati padding na 30px i min-height:300px. Takodje body sam iskljucio padding
.left-padding {
	padding-left: 100px;
}
.buy-lable {
	 /*padding-left:100px;*/
/*.button-sections {
	margin-bottom: 20px;
}*/
/*to make images responsive*/
/*.ng-pristine .ng-invalid-required {
	border:1px solid #a94442;
}*/
/*input[type="radio"] {
	background-color: #e5eef7;
	color: red;
}*/
/*.red {
	color: red;
}*/
.duration {
	 border: 2px solid red;
}
.width15 {

	width: 15.33%;
}
.celina {
	 padding-bottom: 10px;
	 border-bottom: 1px solid;
	 border-left-width: 1000px;
	 border-color: #a2d4d8;
}

.unity {
	 padding-bottom: 20px;	
}

.form-group {
	padding-left: 20px;
	margin-bottom: 8px;
}	
.validate-message {

	border-bottom: 1px solid;
	border-color: #a2d4d8;
}
.red {
	color: red;
}

.ng-touched.ng-dirty.ng-invalid{
    border: 2px solid red;
    /*color: red;*/
}

.submitted .ng-invalid{
    border: 2px solid red;
    /*color: red;*/
}

.err-val {
	 color: red;
}

img {
    max-width: 100%;
    max-height: auto;
}
.adit-text {
	font-size: 15px;
	font-style: bold;
	border-bottom: 1px solid;
}
.home-font {
	font-size: 26px;
	text-align: center;
	font-style: bold;
	text-decoration: underline;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
.about-font {
	font-size: 20px;
	text-align: center;
	font-style: bold;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
.a-font {
	font-size: 18px;
}
.url-font {
	font-size: 18px;
}
.inper {
	width: 100px;

}

.form-group-pers {
	padding-left: 5px;
}

.input-small {
	width: 300px;
}

.right {
	display: block;
	text-align: right;
}

.center {
	display: block; 
	text-align: center;
}

/*	#f7fce0 zuckasta
	#e0fcfc  plava 
	#e5eaea siva 
    style="background: rgba(247,252,224, 0.5) */
.form-div {
	background: rgba(247,252,224, 0.5);
	padding-right: 0px;
	padding-left: 0px;
}

/*Bootstrap NAVBAR padding predefinisan sa 20px na 0px*/
.navbar {
    margin-bottom: 0;
}

/* BASIC STYLINGS
============================================================================= */
/*body                            { padding-top:20px; }*/
body {
	background-image: url(../img/sand.jpg);
}
pre                             { margin-bottom:20px; }

/* form styling */
#form-container                { background:rgba(8,8,8, 0.62); margin-bottom:20px;
    border-radius:5px; }
#form-container .page-header   { background:#151515; margin:0; padding:30px; 
    border-top-left-radius:5px; border-top-right-radius:5px; }

/* numbered buttons */
#status-buttons                 {  }
#status-buttons a               { color:#FFF; display:inline-block; font-size:12px; margin-right:10px; text-align:center; text-transform:uppercase; }
#status-buttons a:hover         { text-decoration:none; }
#status-buttons span            { background: #222222; display:block; height:30px; margin:0 auto 10px; padding-top:5px; width:30px; 
    border-radius:50%; }

/* active buttons */
#status-buttons a.active span   { background:#5bc0de; }

/* ANIMATION STYLINGS
============================================================================= */
#signup-form            { position:relative; min-height:100px;  padding:0px; }
/*overflow:hidden;*/

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views.ng-enter,
#form-views.ng-leave      { position:absolute; left:30px; right:30px;
    transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease; 
}
    
/* enter animation */
#form-views.ng-enter            { 
    -webkit-animation:slideInRight 0.5s both ease;
	-moz-animation:slideInRight 0.5s both ease;
	animation:slideInRight 0.5s both ease; 
}

/* leave animation */
#form-views.ng-leave            { 
    -webkit-animation:slideOutLeft 0.5s both ease;
	-moz-animation:slideOutLeft 0.5s both ease;
	animation:slideOutLeft 0.5s both ease;   
}

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
	to 		{ transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {	
	to 		{ -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
	from 	{ transform:translateX(200%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(200%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(200%); }
	to 		{ -webkit-transform: translateX(0); }
}