
    <div class="col-md-10 col-md-offset-1 form-div">
    	 <img width="950" height="300" src="./assets/img/angels.jpg" alt="We all travel with angels">
    </div>
    <div class="col-md-10 col-md-offset-1 form-div">
    	<p class="home-font">But question is, are we safe enough?!</p>
    	<p class="home-font"> Answer is simple... We are NOT.</p>
	   	<p class="home-font">So, <a ui-sref="buy">buy </a> Chuck Norris insurace and travel safe.</p>
	   	<br><br>
	   	<p class="home-font">-Travel with angles & Chuck Norris insurance-</p>
    </div>
    <div class="col-md-10 col-md-offset-1 form-div">
    	 <img width="950" height="400" src="./assets/img/sunset.jpg" alt="beach with sunset">
    </div>


   
  
    
